* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
}

.app-container {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background: #dcebc4;
    padding: 30px 20px;
    border-radius: 30px;
}

/* Top bar */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.user-actions {
    display: flex;
    align-items: center;
    gap: 25px;
    color:inherit;
    font-size: 1.6rem;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
.search-bar {
    background: #dcebc4;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    gap: 12px;
    width: 65%;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
}

/* Layout */
.product-layout {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}

/* Gallery */
.gallery {
    background: #f6f6f6;
    border-radius: 30px;
    padding: 30px;
}

.main-image img {
    width: 100%;
    object-fit: contain;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
}

.dot.active {
    background: #333;
}

/* Info */
.product-info {
    background: #eff7e6;
    border-radius: 30px;
    padding: 30px;
}

.product-info h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.short-desc {
    color: #666;
    margin-bottom: 15px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    background: #b0bfb0;
    padding: 5px 14px;
    border-radius: 14px;
    font-size: 0.75rem;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}

.quantity {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.quantity button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: #fff;
    cursor: pointer;
}

/* Buttons */
.btn-buy {
    width: 100%;
    padding: 14px;
    background: #333;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
}

.btn-cart {
    width: 100%;
    padding: 14px;
    background: white;
    border: 2px solid #333;
    border-radius: 12px;
}

/* Recommend */
.recommend {
    margin-top: 30px;
}

.recommend-card {
    background: #dcebc4;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: inherit;


}

.recommend-card img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    object-fit: cover;
}

.rec-actions {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

/* Reviews */
.reviews {
    background: #eff7e6;
    border-radius: 30px;
    padding: 30px;
}

.rating-summary {
    text-align: center;
    margin-bottom: 25px;
}

.score {
    font-size: 2.5rem;
    font-weight: bold;
}

.rating-bars div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.bar {
    height: 8px;
    background: #ddd;
    border-radius: 6px;
    flex: 1;
}

.fill-5 { background: #f1e700; width: 90%; }
.fill-4 { background: #f1e700; width: 70%; }
.fill-3 { background: #f1e700; width: 40%; }
.fill-2 { background: #f1e700; width: 20%; }
.fill-1 { background: #f1e700; width: 10%; }

.comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 25px;
}

.comment {
    background: #dcebc4;
    border-radius: 20px;
    padding: 20px;
}
